.quiz-layout{
    background-image: url("../img/book.png");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    padding-top: 8%;
    margin-bottom: 60px;
}
.quiztitle{
    font-size: 44px;
    margin-left: 15%;
}
.quizdata{
    font-size: 20px;
    margin-left: 15%;
    line-height: 3em;
    height: 50%;
    display: flex;
    align-items: center;
}
.startbutton-layout{
    display: flex;
    /* justify-content: center; */
    margin-left: 60%;
}
.startbutton{
    color: white;
    background-color: rgb(243, 165, 62);
    width: 10em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
}
.startbutton:hover{
    background-color: rgb(158, 109, 45);
}
.rank-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}
.rank-layout img{
    height: 50px;
}
.ranking{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ranklist-layout{
    display: flex;
    background-color: rgba(240, 233, 204, 0.7);
    width: 500px;
    justify-content: center;
    margin-top: 15px;
    border-radius: 5px;
}
.order{
    margin-top: 30px;
    margin-bottom: 20px;
}
.ordernum{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 209, 123);
    border-radius: 5px;
}
/* test */
  .message-list {
    list-style: none;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left:10px;
    height: 100%;
    /* overflow: auto; */
    /* background-color: violet; */
    width: 400px;
  }  
  .message-item {
      font-weight: 200;
      margin-bottom: 10px;
      line-height: 24px;
      width: 100%;
      height: 50px;
      background-color: rgba(189, 177, 147,0.8);
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
  }
  .message-item:last-child {
      margin: 0px;
  }
  
  .chat-username {
      margin-right: 0.4rem;
      font-weight: bold;
  }
  #gotop{
    position: fixed;
    border-radius: 50px;
    right: 50px;
    bottom: 100px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(153, 112, 73, 0.9);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
}
  @media(max-width:768px){
    .quiz-layout{
        background-size: 90% 400px;
        width: 100%;
        height: 400px;
        padding-top: 8%;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .quiztitle{
        font-size: 40px;
        margin-left: 13%;
    }
    .quizdata{
        font-size: 18px;
        margin-left: 13%;
        line-height: 2.8em;
        height: 40%;
    }
    .startbutton-layout{
        display: flex;
        margin-left: 58%;
    }
    .startbutton{
        width: 8em;
        height: 2.5em;
        font-size: 18px;
        border-radius: 10px;
    }
    .startbutton:hover{
        background-color: rgb(158, 109, 45);
    }
    #gotop{
        border-radius: 50px;
        right: 40px;
        bottom: 100px;
        padding: 10px 16px;
        font-size: 25px;
    }
  }

  @media(max-width:425px){
    .quiz-layout{
        background-size: 95% 220px;
        width: 100%;
        height: 220px;
        padding-top: 8%;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .quiztitle{
        font-size: 24px;
        margin-left: 13%;
    }
    .quizdata{
        font-size: 12px;
        margin-left: 13%;
        line-height: 1.5em;
        height: 30%;
        width: 35%;
        margin-top: 15px;
    }
    .startbutton-layout{
        margin-left: 60%; 
        width: 6em;    
    }
    .startbutton{
        width: 6em;
        height: 3em;
        font-size: 12px;
        border-radius: 5px;
   
    }
    .startbutton:hover{
        background-color: rgb(158, 109, 45);
    }

    .rank-layout img{
        height: 35px;
    }
    .ranking{
        width: 100%;
        justify-content: space-between;
    }
    .ranklist-layout{
        width: 90%;
        justify-content: center;
        margin-top: 10px;
        border-radius: 5px;
    }
    .order{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ordernum{
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    /* test */
      .message-list {
        list-style: none;
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left:10px;
        height: 100%;
        width: 230px;
      }
      
      .message-item {
          font-weight: 200;
          margin-bottom: 10px;
          line-height: 24px;
          width: 100%;
          height: 40px;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 5px;
          font-size: 15px;
      }
      #gotop{
        right: 30px;
        bottom: 120px;
    }
  }
  @media(max-width:380px){
    .quiztitle{
        font-size: 20px;
        margin-left: 13%;
        margin-top: 10px;
    }
    .ranklist-layout{
        width: 80%;
        margin-top: 10px;
    }
    .order{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /* test */
      .message-list {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 180px;
      }
      #gotop{
        right: 12px;
        bottom: 20px;
    }
  }
  @media(max-width:320px){
    .ranklist-layout{
        width: 95%;
        margin-top: 10px;
    }
  }